$pagewitdh:780px;
$margin: auto;
$font-size:16px;
$fontstrong: 26px;
$font-family: Lucida Sans ;
$heigthphoto: 250px;
$floatleft: left;
$floatright: right;
$marginbot: 70px;
$marginleft: 150px;
$alignjustify: justify;
$color: 3388BB;
$maj: uppercase; 
$bordbot: 3px solid #3388BB;

.page {
    width: $pagewitdh;
    margin: $margin;
    font; {
        size: $font-size;
        family: $font-family;
    }
}
.infophoto {
    height: $heigthphoto;
}

.info {
    float: $floatleft;
}

.photo {
    float: $floatright;
}

.section{
    margin-bottom: $marginbot;
}

.sec-gauche{
    float: $floatleft;
}

.sec-droite{
    margin-left: $marginleft;
}
strong{
    font-size: $fontstrong;
}

.section{
    margin-bottom: $marginbot;
    text-align: $alignjustify;
}

h1{
    font-size: $fontstrong + 2px;
    color: $color;
    text-transform: $maj;
    border-bottom: $bordbot;
}

.sec-gauche{
    float: $floatleft;
    font-weight: bold;
    font-size: 20px;
}

.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.sec-droite{
    margin-left: 150px;
}

.titre{
    font-weight: bold;
    font-size: 20px;
}

#forma-gauche p{
    margin-bottom: 37px;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 37px;
}

body{
    background-color: #CCCCCC;
}

.page{
    width: 780px;
    margin: auto;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    background-color: #FFFFFF;
}

.section:hover{
    color: #00AA00;
}
